@model Vidly.ViewModels.NewMovieFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Genre)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=>m.Movie.id)
    <button type="submit" class="btn btn-primary">Add</button>
}
        @*

            <h2>@Model.Name</h2>
            <ul>
                <li>Genre: @Model.Genre.Name</li>
                <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
                <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
                <li>Number in Stock: @Model.NumberInStock</li>
            </ul>

        *@

